.EnemyHealthBar {
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 550px;
  margin-left: 550px;
}

.EnemyHealth {
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 548px;
  margin-left: 670px;
}
