.HealthBar {
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 130px;
  margin-left: 150px;
}

.Health {
  width: 50%;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 127px;
  margin-left: 280px;
}
