.HealthBar {
  position: absolute;
  top: 130px;
  left: 150px;
}

.Health {
  position: absolute;
  top: 127px;
  left: 280px;
  user-select: none;
}

.GuardBar {
  position: absolute;
  top: 170px;
  left: 150px;
}
.Guard {
  position: absolute;
  top: 167px;
  left: 300px;
  user-select: none;
}
