.Battle {
  padding: 100px;
  position: relative;
  user-select: none;
}

.enemy {
  position: absolute;
  top: 120px;
}

.treasure {
  position: absolute;
  top: 200px;
  left: 400px;
}

.damege {
  position: absolute;
  left: 500px;
  top: 220px;
}

.energy {
  position: absolute;
  left: 150px;
  top: 680px;
  color: black;
  font-size: 50px;
  font-weight: 500;
}

.floor {
  position: absolute;
  left: 700px;
  top: 50px;
  color: black;
  font-size: 50px;
  font-weight: 500;
}

.handCard {
  position: absolute;
  left: 150px;
  top: 600px;
}

.bottomArea {
  position: absolute;
  left: 100px;
  top: 820px;
}

.image {
  &:hover {
    box-shadow: -5px -5px 10px #668ad8;
  }
}
