.Shop {
  padding: 100px;
  position: relative;
  user-select: none;
}
.ViewDialog {
  position: absolute;
  top: 100px;
  left: 100px;
  min-width: 1280px;
  min-height: 720px;
  max-height: 720px;
}
.floor {
  position: absolute;
  left: 700px;
  top: 50px;
  color: black;
  font-size: 50px;
  font-weight: 500;
}
